<h2>Mentions légales</h2>
<p>Ce site est un projet réalisé dans le cadre d'un projet universitaire. Les données présentées sont fictives et servent uniquement à des fins de démonstration.</p>
<p>Tous droits réservés © SmartHouse 2024-2025.</p>
